
{{#if answerQuestion}}
  <div>
    <form>
      <div class="form-group">
        <label for="answer">Answer Here</label>
        {{input value=answer id="answer"}}
      </div>
      <button {{action 'answer' question}}>Answer</button>
    </form>
  </div>
{{else}}
    <button {{action 'answerQuestion'}}>Awnser this question</button>
{{/if}}
