<h2>About Super QnA</h2>

<p>The Super QnA website was created to explore the wonderful world of Ember.js. This project allows us to traverse the pathways of the Ember framework!</p>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'info'}}Contact Info{{/link-to}}
