
<div class="container">
  <div class="jumbotron">
    <h1>SUPER QnA</h1>
    <p>{{#link-to 'about'}}About{{/link-to}} | {{#link-to 'info'}}Contact Info{{/link-to}}</p>
  </div>
  {{new-question save2="save3"}}
    {{#each model as |question|}}
      <div class="question">
        {{question-tile answer="answer" update="update" question=question}}
    </div>
    {{/each}}
</div>
<div class="container">
  <div class="favorited">
    <h1>Favorited Questions</h1>
    {{display-favorites answer="answer" question=question}}
  </div>
</div>
